{% extends 'base.html' %}

{% block title %}Home - Dipin Dawadi{% endblock %}

{% block content %}
<section id="experience" class="animation-fade">
    <div class="container">
        <h2 class="section-title">Experience</h2>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Student Fellow</div>
                    <div class="card-body">
                        <ul>
                            <li><strong>Company:</strong> Propel2Excel</li>
                            <li><strong>Duration:</strong> Nov 2024 - Present</li>
                            <li><strong>Description:</strong> A nonprofit organization aimed at increasing representation of non-targeted university students in prestigious firms worldwide. I have an amazing coach who works at PwC and we do weekly meetings for professional development.</li>                             </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Wireless Engineering Intern</div>
                    <div class="card-body">
                        <ul>
                            <li><strong>Company:</strong> UL Solutions</li>
                            <li><strong>Duration:</strong> May 2024 - Jul 2024</li>
                            <li><strong>Description:</strong> As a Wireless Engineering Intern, I played a key role in supporting clients through the process of achieving FCC/ICC certifications. I conducted over 1,500 automated tests, utilizing DASY6 robots to capture and analyze Specific Absorption Rate (SAR) data. SAR is critical for assessing the safety of wireless devices, ensuring they comply with regulatory standards for human exposure to electromagnetic fields. In addition to the SAR testing, I ran Python commands and scripts to configure antennas across more than 8 devices, optimizing their performance by ensuring that transmission was accurate and efficient at specific frequencies, bands, and power levels. This work was essential in optimizing the wireless system's performance while ensuring compliance with industry standards, enabling devices to meet both safety and performance requirements.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Computer Science Teaching Assistant</div>
                    <div class="card-body">
                        <ul>
                            <li><strong>Institution:</strong> Alabama A&M University</li>
                            <li><strong>Duration:</strong> Feb 2023 - Apr 2024</li>
                            <li><strong>Description:</strong> As a Computer Science Teaching Assistant, I had the opportunity to help students significantly improve their academic performance. On average, the students I mentored saw an improvement of one full letter grade. My role involved instructing in quantitative subjects, including Python programming and problem-solving techniques. I helped students grasp difficult concepts by creating personalized lesson plans that were tailored to their specific learning needs. By identifying areas where students struggled, I was able to address their weaknesses through targeted lessons and practice exercises. This approach not only enabled students to meet their learning objectives but also enhanced their overall understanding of the subject, fostering a deeper appreciation for computer science and programming.</li>
                        </ul>
                    </div>
                </div>
            </div>
                        <!-- Card 4 -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Student Research Assistant</div>
                <div class="card-body">
                    <ul>
                        <li><strong>Institution:</strong> Alabama A&M University</li>
                        <li><strong>Duration:</strong> Oct 2022 - May 2023</li>
                        <li><strong>Description:</strong> As a Student Research Assistant, I contributed to a research program focused on advancing knowledge in maintaining nuclear security and nonproliferation. My work involved conducting research to maintain crystals in Argon gas at ATM pressure within a Glove Box Environmental Chamber, ensuring that the crystals were properly preserved under controlled conditions. Additionally, I experimented with producing Cesium Hafnium Chloride crystals using the Bridgman technique, a method critical for growing single crystals with specific properties. This research is integral to advancing our understanding of materials used in nuclear security, ensuring that future technologies remain safe and secure while minimizing risks of proliferation.</li>
                    </ul>
                </div>
            </div>
        </div>

<!-- Card 5 -->
<div class="col-md-4">
<div class="card">
    <div class="card-header">Google Tech Immersion Scholar</div>
    <div class="card-body">
        <ul>
            <li><strong>Organization:</strong> Google</li>
            <li><strong>Duration:</strong> Aug 2023</li>
            <li><strong>Location:</strong> Remote</li>
            <li><strong>Description:</strong> As a Google Tech Immersion Scholar, I participated in a comprehensive educational program focused on Software Engineering. The program included hands-on coding workshops, mock interviews for skill development, and opportunities to enhance my professional growth. Through these sessions, I gained valuable insights into Google's extensive product ecosystem and explored various roles within the Software Engineering field. Additionally, I collaborated with peers and industry experts to broaden my understanding of the software development landscape, which further refined my technical and soft skills. The experience provided an in-depth exploration of modern software engineering practices and prepared me for a career in tech.</li>
        </ul>
    </div>
</div>
</div>
<!-- Card 6 -->
<div class="col-md-4">
<div class="card">
    <div class="card-header">IAM Intern</div>
    <div class="card-body">
        <ul>
            <li><strong>Organization:</strong> Research Data and Communication Technologies Corp.</li>
            <li><strong>Duration:</strong> Sep 2023 - Dec 2023</li>
            <li><strong>Location:</strong> Remote</li>
            <li><strong>Description:</strong> As an IAM Intern, I developed a Flask web application integrated with MySQL and deployed it using Docker. This hands-on experience helped me gain practical expertise in Docker Compose, container orchestration, and deployment workflows, which are crucial for building and maintaining scalable applications. The project allowed me to strengthen my skills in web development, database management, and cloud deployment, preparing me for future opportunities in full-stack development and DevOps.</li>
            <li><strong>Skills:</strong> Docker, Flask, MySQL, Web Development</li>
        </ul>
    </div>
</div>
</div>

<!-- Card 7 -->
<div class="col-md-4">
<div class="card">
    <div class="card-header">Alcon R&D Extern</div>
    <div class="card-body">
        <ul>
            <li><strong>Organization:</strong> Alcon</li>
            <li><strong>Duration:</strong> Aug 2023</li>
            <li><strong>Location:</strong> Fort Worth, Texas, United States (On-site)</li>
            <li><strong>Description:</strong> As an R&D Extern at Alcon, I participated in the "Whale Tank" event, a unique experience similar to "Shark Tank," where I collaborated with teams to propose innovative solutions. During my time at Alcon, I immersed myself in the dynamic field of Research and Development, learning from professionals about R&D procedures and the company's workplace culture. This experience helped me gain a deeper understanding of the intersection of research, innovation, and product development in the healthcare industry.</li>
            <li><strong>Skills:</strong> Networking, R&D Procedures, Problem Solving</li>
        </ul>
    </div>
</div>
</div>

<!-- Card 8 -->
<div class="col-md-4">
<div class="card">
    <div class="card-header">Activision x HBCU In LA</div>
    <div class="card-body">
        <ul>
            <li><strong>Organization:</strong> Activision</li>
            <li><strong>Duration:</strong> Jul 2023 - Aug 2023</li>
            <li><strong>Location:</strong> Remote</li>
            <li><strong>Description:</strong> During the Activision x HBCU In LA program, I completed the comprehensive Skills Test Prep Course, designed to enhance my job placement prospects in the gaming industry. I received training in skills-based assessments such as HackerRank, preparing me for internships at Activision. This experience deepened my expertise in the gaming industry, with a particular focus on programming languages like C++ and the practical application of coding skills in game development.</li>
            <li><strong>Skills:</strong> Gaming Industry, C++, HackerRank, Game Development</li>
        </ul>
    </div>
</div>
</div>

<!-- Card 9 -->
<div class="col-md-4">
<div class="card">
    <div class="card-header">Student Mentor</div>
    <div class="card-body">
        <ul>
            <li><strong>Organization:</strong> Himalayan High Flyers</li>
            <li><strong>Duration:</strong> Nov 2021 - Mar 2022</li>
            <li><strong>Location:</strong> Nārāyanī, Nepal</li>
            <li><strong>Description:</strong> As a Student Mentor for the Himalayan High Flyers program, I guided high school students through STEM activities over a 7-week mentorship program. I taught basic physics related to airplanes, led hands-on sessions where students built remote-controlled planes, and built personal relationships with mentees. This program allowed me to foster interest in STEM fields among young students and provided me with leadership and mentoring experience.</li>
            <li><strong>Skills:</strong> Physics, Mentoring, Leadership, STEM Education</li>
        </ul>
    </div>
</div>
</div>



        </div>
    </div>
</section>
{% endblock %}
